<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script type="text/javascript" src="../static/scripts/PlaylistScript.js"
            th:src="@{/scripts/PlaylistScript.js}"></script>

</head>
<body>

<div th:fragment="PlaylistTable">

    <div id="PlaylistHeader">
        <h2>Playlist</h2>

        <select id="playlistSelect" name="upperSelect" onchange="loadUpperPlaylist(this)">
            <option>Playlists</option>
            <option th:each="pl : ${playlists}"
                    th:text="${pl.getName()}"
                    th:selected="${upperPlaylist==pl}"
            >Playlists
            </option>

        </select>
        <h2>Artist</h2>
        <select id="artistSelect" onchange="loadUpperPlaylist(this)">
            <option>Artists</option>
            <option th:each="plA : ${artists}"
                    th:text="${plA.getName()}"
                    th:selected="${upperPlaylist==plA}"
            >Artists
            </option>

        </select>
        <h2>Album</h2>

        <select id="albumSelect" onchange="loadUpperPlaylist(this)">
            <option>Albums</option>
            <option th:each="plAl : ${albums}"
                    th:text="${plAl.getName()}"
                    th:selected="${upperPlaylist==plAl}"
            >Albums
            </option>

        </select>
        <h2>Genre</h2>

        <select id="genreSelect" onchange="loadUpperPlaylist(this)">
            <option>Genres</option>
            <option th:each="plG : ${genres}"
                    th:text="${plG.getName()}"
                    th:selected="${upperPlaylist==plG}"
            >Genres
            </option>

        </select>

        <div id="SearchBox">

            <input id="SearchBoxInput" onchange="searchUpperPlaylist(this)" value="Search..."/>
        </div>


    </div>
    <div th:id="${upperPlaylist.getName()}" class="PlayerTable" ondragover="allowDrop(event)"
         ondrop="playlistDrop(event,this,'upper')">


        <div id="plTableContainer" class="tableContainer">

            <table border="0" cellpadding="0" cellspacing="1" class="scrollTable" th:id="${upperPlaylist.getName()}">
                <thead class="fixedHeader">
                <tr>
                    <th><a href="#">Song name</a></th>
                    <th><a href="#">Artist</a></th>
                    <th><a href="#">#Played</a></th>
                </tr>
                </thead>
                <tbody class="scrollContent">
                <tr th:each="plf : ${upperPlaylist}"
                    th:id="${plf.getId()}"
                    draggable="true"
                    onclick="playlistClickPlaySong(this)"
                    ondragstart="songDrag(event)"


                >
                    <td th:text="${plf.getTitle()}"></td>
                    <td th:text="${plf.getArtist()}"></td>
                    <td th:text="${plf.getnPlayed()}"></td>

                </tr>

                </tbody>

            </table>

        </div>
    </div>
</div>
</body>
</html>
